@using ABLAB.Sogo.SSR.Components

<!-- Main Footer -->
<footer class="main-footer" style="background-image: url(images/background/10.jpg);">
    <div class="auto-container">
        <div class="upper-box">
            <div class="row">
                <!-- Upper column -->
                <div class="upper-column col-lg-3 col-md-12 col-sm-12">
                    <div class="footer-logo">
                        <figure class="image"><a href="/"><img src="\images\logos\logoSogo.png" style="height:60px" alt=""></a></figure>
                    </div>
                </div>

                <!-- Upper column -->
                <div class="upper-column col-lg-6 col-md-12 col-sm-12">
                    <div class="subscribe-form">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Podaj email, odezwiemy się" required="">
                            <button type="submit" class="theme-btn btn-style-four">Kontakt</button>
                        </div>
                    </div>
                </div>

                <!-- Upper column -->
                <div class="upper-column col-lg-3 col-md-12 col-sm-12">
                    <div class="social-links">
                        <ul class="social-icon-two">
                            <li><a href="#"><i class="la la-instagram"></i></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i></a></li>
                            <li><a href="#"><i class="la la-facebook"></i></a></li>
                            <li><a href="#"><i class="la la-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h2 class="widget-title">O Nas</h2>
                                <p> Lorem ipsum dolor sit amet, consectetuer a the adipiscing elit. Aenean commodo ligulai dolor. Aenean massa Lorem ipsum dolor sit amet, consectetuer a the adipiscing elit. Aenean commodo ligulai dolor.</p>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h2 class="widget-title">Inwestycje</h2>
                                <div class="widget-content">
                                    <ul class="list clearfix">
                                        <li><a href="/">Osiedle Lutynia</a></li>
                                        <li><a href="/">Osiedle Krzeptów</a></li>
                                        <li><a href="/">Osiedle Smolec</a></li>
                                        <li><a href="/">Osiedle Przyjazne</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget popular-posts">
                                <h2 class="widget-title">Popularne nieruchomości</h2>
                                <!--Footer Column-->
                                <div class="widget-content">
                                    @* <FooterTopsComponent InvestmentId="0" TopLength="2" /> *@
                                    <div class="post">
                                        <div class="thumb"><a href="/"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                        <h4><a href="/">Mieszkanie LL1P1</a></h4>
                                        <span class="date">34 m<sup>2</sup></span>
                                    </div>
                                    <div class="post">
                                        <div class="thumb"><a href="/"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                        <h4><a href="/">Mieszkanie ZZ1X3</a></h4>
                                        <span class="date">72 m<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Biura</h2>
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li><span class="la la-map-marker"></span> Wróblowice, ul. Bolesława Krzywoustego 1/1</li>
                                        <li><span class="la la-map-marker"></span> Smolec, ul. Kasztanowa 33/1</li>
                                        <li><span class="la la-envelope"></span><a href="mailto:sprzedaz@osiedla-sogo.pl">sprzedaz@osiedla-sogo.pl</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">


            <div class="inner-container clearfix">
                <div class="copyright-text">
                    <p>
                        Sogo © @CurrentYear - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->