@using ABLAB.Sogo.SSR.Services
<ul>
    @foreach(var investment in Investments)
    {
        <li><a @onclick="() => NavManager.NavigateToInvestment(investment.Id)">@investment.Name</a></li>
    }
</ul>

@code{
    [Inject] NavigationService NavManager { get; set; } = default!;
}