@using ABLAB.Sogo.SSR.Components;
@using ABLAB.Sogo.SSR.Services

<!-- Main Header-->
<header class="main-header header-style">
    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="top-left">
                    <ul class="contact-list clearfix">
                        <li><i class="la la-home"></i> Wróblowice, ul. Bolesława Krzywoustego 1/1</li>
                        <li><i class="la la-home"></i> Smolec, ul. Kasztanowa 33/1</li>
                        <li><i class="la la-envelope-o"></i><a href="mailto:sprzedaz@osiedla-sogo.pl">sprzedaz@osiedla-sogo.pl</a></li>
                    </ul>
                </div>
                <div class="top-right">
                    <ul>
                    </ul>
                    <ul class="social-icon-three clearfix">
                        <li><a href="#"><i class="la la-instagram"></i></a></li>
                        <li><a href="#"><i class="la la-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Header Lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box">
                <div class="inner-container clearfix">
                    <div class="logo-box">
                        <div class="logo"><a href="/"><img src="\images\logos\logoSogo.png" style="height:60px" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown">
                                        <a href="#">Inwestycje</a>
                                        <InvestmentsComponent />
                                    </li>
                                    <li class="dropdown">
                                        <a>Media społecznościowe</a>
                                        <ul>
                                            <li><a href="#" target="_blank">Facebook</a></li>
                                            <li><a href="#" target="_blank">YouTube</a></li>
                                            <li><a href="#" target="_blank">Instagram</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/">Informacje</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        <!-- Main Menu End-->
                        <div class="outer-box">
                            <div class="btn-box">
                                <a href="/" class="theme-btn btn-style-one">KONTAKT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Lower-->
    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/" title=""><img src="\images\logos\logoSogo.png" style="height:50px" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="dropdown"><a href="#">Inwestycje</a>
                                <ul>
                                    <li><a href="/">Osiedle Lutynia</a></li>
                                    <li><a href="/">Osiedle Krzeptów</a></li>
                                    <li><a href="/">Osiedle Smolec</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Media społecznościowe</a>
                                <ul>
                                    <li><a href="#" target="_blank">Facebook</a></li>
                                    <li><a href="#" target="_blank">YouTube</a></li>
                                    <li><a href="#" target="_blank">Instagram</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="/">Informacje</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>
<!--End Main Header -->

@code{
    [Inject] NavigationService NavManager { get; set; } = default!;
}