<!-- Main Header-->
<header class="main-header header-style">
    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="top-left">
                    <ul class="contact-list clearfix">
                        <li><i class="la la-home"></i> 121, King St, VIC 3000, New York.</li>
                        <li><i class="la la-envelope-o"></i><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="top-right">
                    <ul>
                    </ul>
                    <ul class="social-icon-three clearfix">
                        <li><a href="#"><i class="la la-instagram"></i></a></li>
                        <li><a href="#"><i class="la la-twitter"></i></a></li>
                        <li><a href="#"><i class="la la-google-plus"></i></a></li>
                        <li><a href="#"><i class="la la-github"></i></a></li>
                        <li><a href="#"><i class="la la-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Header Lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box">
                <div class="inner-container clearfix">
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown current">
                                        <a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home Page 1</a></li>
                                            <li><a href="index-2.html">Home Page 2</a></li>
                                            <li><a href="index-3.html">Home Page 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="dropdown">
                                        <a href="#">Agents</a>
                                        <ul>
                                            <li><a href="agents.html">Agents</a></li>
                                            <li><a href="agent-detail.html">Agent Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Properties</a>
                                        <ul>
                                            <li><a href="property-grid-view.html">Property Grid View</a></li>
                                            <li><a href="property-list-view.html">Property List View</a></li>
                                            <li><a href="property-modern-view.html">Property Modern View</a></li>
                                            <li><a href="property-detail.html">Property Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-list.html">Blog List View</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="faq.html">FAQ's</a></li>
                                            <li><a href="testimonial.html">Testimonials</a></li>
                                            <li><a href="submit-property.html">Submit Property</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="error-page.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        <!-- Main Menu End-->
                        <div class="outer-box">
                            <div class="btn-box">
                                <a href="submit-property.html" class="theme-btn btn-style-one">Submit Property</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Lower-->
    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" title=""><img src="images/logo.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="dropdown current">
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Page 1</a></li>
                                    <li><a href="index-2.html">Home Page 2</a></li>
                                    <li><a href="index-3.html">Home Page 3</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li class="dropdown">
                                <a href="#">Agents</a>
                                <ul>
                                    <li><a href="agents.html">Agents</a></li>
                                    <li><a href="agent-detail.html">Agent Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Properties</a>
                                <ul>
                                    <li><a href="property-grid-view.html">Property Grid View</a></li>
                                    <li><a href="property-list-view.html">Property List View</a></li>
                                    <li><a href="property-modern-view.html">Property Modern View</a></li>
                                    <li><a href="property-detail.html">Property Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog-grid.html">Blog Grid View</a></li>
                                    <li><a href="blog-list.html">Blog List View</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Pages</a>
                                <ul>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="testimonial.html">Testimonials</a></li>
                                    <li><a href="submit-property.html">Submit Property</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="error-page.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>
<!--End Main Header -->