@page "/"
@using ABLAB.Sogo.Shared.Dtos
@using ABLAB.Sogo.Shared.Services

<!-- Property Search Section Two -->
<section class="property-search-section-two" style="background-image: url(images/background/banner-01.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title-box">
                <h2>Mieszkania dla Twojej <span>rodziny</span>.</h2>
                <h4>Osiedla Sogo</h4>
            </div>
            <div class="property-search-form style-two">
                @* <form method="post" action="#"> *@
                    <div class="row no-gutters">
                        <ABLAB.Sogo.SSR.Components.SearchParametersComponent />
                    </div>
                @* </form> *@
            </div>
        </div>
    </div>
</section>
<!--End Property Search Section Two -->

<!-- Property Section Two -->
<section class="property-section-two">
 <div class="auto-container">
  <div class="sec-title">
   <span class="title">MOŻE CIĘ ZAINTERESUJE</span>
   <h2>Najchętniej oglądane</h2>
 </div>

  <div class="property-carousel owl-carousel owl-theme">
            <ABLAB.Sogo.SSR.Components.PopularApartmentsComponent />
  </div>
 </div>
</section>
<!--End Property Section Two -->

<!-- Property Filter Section -->
<section class="property-filter-section">
    <div class="auto-container">
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <div class="upper-box clearfix">
                <div class="sec-title">
                    <span class="title">FIND YOUR HOUSE IN YOUR CITY</span>
                    <h2>PROPERTY TYPES</h2>
                </div>

                <!--Filter-->
                <div class="filters">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter="all">All</li>
                        <li class="filter" data-role="button" data-filter=".Wolne">Wolne</li>
                        <li class="filter" data-role="button" data-filter=".Rezerwacja">Rezerwacja</li>
                    </ul>
                </div>
            </div>

            <ABLAB.Sogo.SSR.Components.FilteredApartmentsComponent />

            <!-- Load More -->
            <div class="load-more-btn text-center">
                <a href="property-grid-view.html" class="theme-btn btn-style-two">Load More</a>
            </div>
        </div>
    </div>
</section>
<!--End Property Filter Section -->